@charset "utf-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}
ul,li{
    list-style: none;
}
#wrap{
    width: 100%;
    text-align: center;
}
.inner{
    width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* ------------------ header --------------------- */
header{
    width: 1920px;
    height: 670px;
    background-image: url(../image/main\ slide1.jpg);
       
}
header nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header ul{
    display: flex;

}
header nav li{
    width: 150px;
    text-align: center;
}

nav li a{
    display: block;
}

.inner img{
    margin-top: 10px;
}

header .click li{
    width:80px;
}

#section1{
    width: 1920px;
    height: 650px;
    background-color: #ffe0e0;
}

main .section1 img{
    margin: 20px 10px;
}




/* ------------------ main --------------------- */
/* section1 */

/* section2 */
/* ------------------ footer ---------------------*/
